page-attractions {

    body{
        background-color: #d9edf2;
        text-align: center;
        height: 30000px;
    }

    #vid{
        border-bottom: 100px;
    }

    #gap{
        padding-bottom: 200px;
    }

    #footer{
        font-size: 10px;
        text-align: center;
        background-color: lightgreen;
        padding-top: 30px;
        padding-top: 20px;
        position: fixed;
        bottom: 0%;
        width: 100%;
        
    }

}
